<button (click)="initNewDog()"> Create New Dog</button>


<table>
  <thead>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Breed</th>
  </thead>
  <tbody>
    <tr *ngFor="let dog of dogs">
      <td>{{dog.name}}</td>
      <td>{{dog.firstName}}</td>
      <td>{{dog.lastName}}</td>
      <td>{{dog.breed}}</td>
      <td><button (click)="editDog(dog)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-dog [dog]="dogToEdit" (dogsUpdated)="updateDogList($event)"></app-edit-dog>